


@layer components {
    * {
        box-sizing: border-box;
    }


    .inputField {
        position: relative;
        width: 100%;
        margin-top: 35px;
        background-color: theme(colors.bg-grey);
        border-radius: 4px;
    }

    .inputField > input {
        position: relative;
        width: 100%;
        padding: 20px 10px 10px;
        background: transparent;
        border: none;
        outline: none;
        color: theme(colors.text-dark);
        font-size: 1em;
        letter-spacing: 0.05em;
        z-index: 10;
    }

    .inputField > span {
        position: absolute;
        left: 0;
        padding: 15px 10px 10px;
        font-size: 1em;
        pointer-events: none;
        letter-spacing: 0.02em;
        transition: 0.5s;
    }

    .inputField > input:valid ~ span,
    .inputField > input:focus ~ span {
        transform: translateX(0px) translateY(-12px);
        font-size: 0.75em;
    }
}