


@layer components {

    * {
        box-sizing: border-box;
    }


    .searchField {
        width: 100%;
        display: flex;
        background-color: theme(colors.bg-grey);
        border-radius: 4px;
    }

    .searchField > input {
        width: 100%;
        padding: 8px 8px 8px;
        background: transparent;
        border: none;
        outline: none;
        color: theme(colors.text-dark);
        font-size: 1em;
        letter-spacing: 0.05em;
        z-index: 10;
    }

    .searchField > img {
        margin-left: 3px;
    }

}